.header {
  position: relative;
  z-index: -1;
  height: 330px;
  background: url('/images/illustration-intro.svg'), url('/images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 80%, 90%;
  background-position: center, 80px 0;
  @include tablet{
    background: none;
    height: 150px;
  }
}

.navbar {
  height: 100%;
  position: relative;
  z-index: 10;
  @include tablet{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
  }

  &__logo {
    position: absolute;
    top: -30px;
    left: 20px;
    @include tablet{
      top: 45%;
      left: 5%;
      z-index: 10;
    }
  }

  &__ham {
    position: absolute;
    top: -30px;
    right: 20px;

    @include tablet {
      display: none;
    }
  }
}

.menu {
  @include tablet {
    transform: translateX(0);
    grid-column: 2/3;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  margin-left: -40px;
  list-style: none;
  margin-top: 50px;
  background-color: $veryligh;
  color: $darkblue;
  font-weight: 700;
  line-height: 2.9rem;
  font-size: 1.2rem;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.show {
  transform: translateX(0);
}

@include tablet {
  .button-nav {
    display: block;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background-color: $bright-red;
    color: $veryligh;
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 40px;
    margin-top: 45px;
    cursor: pointer;
  }
}

@include mobile {
  .button-nav {
    display: none;
  }
}

.mensaje {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: $darkblue;
  transform: translateY(-100%);
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;

}

.error {
  animation-name: msj;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

@keyframes msj {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}